# Preprocessing

In [14]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import yfinance as yf

%matplotlib inline

In [15]:
ticker = "AAPL"  # You can change this to any NASDAQ stock
df = yf.download(ticker, start="2017-01-01", end="2025-01-01")
df

[*********************100%***********************]  1 of 1 completed

Price            Close        High         Low        Open     Volume
Ticker            AAPL        AAPL        AAPL        AAPL       AAPL
Date
2017-01-03   26.862427   26.904056   26.540957   26.781481  115127600
2017-01-04   26.832361   26.945687   26.769918   26.793045   84472400
2017-01-05   26.968817   27.026635   26.783797   26.809237   88774400
2017-01-06   27.269472   27.327291   26.936438   27.008132  127007600
2017-01-09   27.519241   27.621002   27.276405   27.278717  134247600
...                ...         ...         ...         ...        ...
2024-12-24  257.916443  257.926411  255.009620  255.209412   23234700
2024-12-26  258.735504  259.814335  257.347047  257.906429   27237100
2024-12-27  255.309296  258.415896  252.782075  257.546826   42355300
2024-12-30  251.923019  253.221595  250.474615  251.952985   35557500
2024-12-31  250.144974  253.001833  249.156056  252.162760   39480700

[2012 rows x 5 columns]

In [16]:
df.columns = [col[0] for col in df.columns]  # Flatten multi-index column names (data from yfinance is multi-indexed)
df.reset_index(inplace=True)
df

           Date       Close        High         Low        Open     Volume
0    2017-01-03   26.862427   26.904056   26.540957   26.781481  115127600
1    2017-01-04   26.832361   26.945687   26.769918   26.793045   84472400
2    2017-01-05   26.968817   27.026635   26.783797   26.809237   88774400
3    2017-01-06   27.269472   27.327291   26.936438   27.008132  127007600
4    2017-01-09   27.519241   27.621002   27.276405   27.278717  134247600
...         ...         ...         ...         ...         ...        ...
2007 2024-12-24  257.916443  257.926411  255.009620  255.209412   23234700
2008 2024-12-26  258.735504  259.814335  257.347047  257.906429   27237100
2009 2024-12-27  255.309296  258.415896  252.782075  257.546826   42355300
2010 2024-12-30  251.923019  253.221595  250.474615  251.952985   35557500
2011 2024-12-31  250.144974  253.001833  249.156056  252.162760   39480700

[2012 rows x 6 columns]

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2012 entries, 0 to 2011
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    2012 non-null   datetime64[ns]
 1   Close   2012 non-null   float64
 2   High    2012 non-null   float64
 3   Low     2012 non-null   float64
 4   Open    2012 non-null   float64
 5   Volume  2012 non-null   int64
dtypes: datetime64[ns](1), float64(4), int64(1)
memory usage: 94.4 KB

# Create Target Variable for Baseline Model

In [19]:
df['Target'] = df['Close'].shift(-1)

# Drop Rows With Missing Targets
The very last row will now have a NaN in Target, because thereâ€™s no "next day" to shift into it.

In [ ]:
df = df.dropna()

,Date,Close,High,Low,Open,Volume,Target
0,2017-01-03,26.862427,26.904056,26.540957,26.781481,115127600,26.832361
1,2017-01-04,26.832361,26.945687,26.769918,26.793045,84472400,26.968817
2,2017-01-05,26.968817,27.026635,26.783797,26.809237,88774400,27.269472
3,2017-01-06,27.269472,27.327291,26.936438,27.008132,127007600,27.519241
4,2017-01-09,27.519241,27.621002,27.276405,27.278717,134247600,27.547001
...,...,...,...,...,...,...,...
2006,2024-12-23,254.989655,255.369227,253.171646,254.490204,40858800,257.916443
2007,2024-12-24,257.916443,257.926411,255.009620,255.209412,23234700,258.735504
2008,2024-12-26,258.735504,259.814335,257.347047,257.906429,27237100,255.309296
2009,2024-12-27,255.309296,258.415896,252.782075,257.546826,42355300,251.923019
2010,2024-12-30,251.923019,253.221595,250.474615,251.952985,35557500,250.144974

# Split 80% Train / 20% Test

In [22]:
# Get total number of rows
total_rows = len(df)

# Calculate 80% split point
split_index = int(total_rows * 0.8)

# Split into training and testing sets
train_df = df.iloc[:split_index]
test_df = df.iloc[split_index:]

# Export CSVs

In [27]:
train_df.to_csv(f'data/processed/baseline/{ticker}_naive_baseline_train.csv', index=False)
test_df.to_csv(f'data/processed/baseline/{ticker}_naive_baseline_test.csv', index=False)